.eye {
    cursor: pointer;
    border-radius: 15px;
    background-color: var(--bs-bg-light);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 60px;
    margin-top: -35px;
    width: 30px;
    height: 30px;
}

.icon {
    margin-top: 9.2px;
    margin-left: 6px;
}

.text-biru {
    color: #2753ff !important;
}
