@page {
    size: A4 landscape;
    margin: 0;
  }

  body {
    margin: 0;
    padding: 0;
  }

  /* DEPAN */
  .depan {
    width: 297mm;
    height: 210mm;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
  }

  .depan .content {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    background-size: cover;
  }
  
  /* BELAKANG */
  .belakang {
    width: 297mm;
    height: 210mm;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
  }

  .belakang .content {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    background-size: cover;
  }