.content-container {
    margin-top: -16px;
    height: auto;
    overflow: hidden;
}

.content-top {
    background-color: var(--bs-bg-light);
    margin-top: 2px;
    gap: 2px;
    margin-top: 100px;
    display: flex;
    width: 100vw;
}

.left-side {
    margin-bottom: 2px;
    margin-top: 2px;
    border-radius: 0 4px 4px 0;
    background-color: var(--bs-body-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: auto;
}

.right-side {
    margin-bottom: 2px;
    margin-top: 2px;
    border-radius: 4px 0 0 4px;
    background-color: var(--bs-body-bg);
    padding: 52px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
}

.image-container {
    position: relative;
    width: 80%;
    display: flex;
    justify-content: center;
}

.image-hover {
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    transition: opacity 1s, letter-spacing 1s;
    border-radius: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    font-weight: 700;
    color: white;
    letter-spacing: 0;
}

.x-button {
    transform: translateX(60px);
    background-color: transparent;
    border: none;
    color: white;
    background-color: transparent;
    border: none;
    font-size: 20px;
}

.image-hover:hover {
    letter-spacing: 2px;
    opacity: 0.6;
}

#pdfCanvas {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.image-item {
    border-radius: 20px;
    width: 100%;
}

.header {
    font-size: 30px;
    font-weight: bold;
}

h4 {
    margin-left: 0;
    transition: margin-left 1s;
    cursor: pointer;
}

h4:hover {
    margin-left: 5px;
}

.hover-animate {
    text-align: center;
}

.label-header {
    font-size: 20px;
    font-weight: 700;
}

.label-item {
    font-size: 18px;
}

.content-bottom {
    margin-top: 2px;
}

.table-background {
    background-color: var(--bs-body-bg);
    padding: 40px;
}

.left-th {
    width: 50px;
}

.right-th {
    width: 100px;
}

@media screen and (max-width: 924px) {
    .content-top {
        display: block;
    }

    .main-detail {
        display: flex;
        gap: 40px;
    }

    .left-side {
        width: 100%;
    }

    .right-side {
        width: 100%;
    }

    .header {
        text-align: center;
    }
}

@media screen and (max-width: 499px) {
    .main-detail {
        display: block;
    }
}

@media screen and (max-width: 650px) {
    .hover-animate {
        font-size: 20px;
    }
}

#load {
    position: absolute;
    top: 40%;
    width: 100px;
    height: 100px;
    background-image: url('/image/Loading-logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    animation: loading 2s infinite ease-in-out, flipAndGrayScale 2s infinite;
}

@keyframes loading {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }

    50% {
        transform: perspective(120px) rotateX(180deg) rotateY(0deg);
    }

    100% {
        transform: perspective(120px) rotateX(180deg) rotateY(-180deg);
    }
}

@keyframes flipAndGrayScale {
    0% {
        transform: scaleX(1) translateY(0);
        filter: grayscale(0%);
    }

    50% {
        transform: scaleX(-1) translateY(-5px);
        filter: grayscale(100%);
    }

    100% {
        transform: scaleX(1) translateY(0);
        filter: grayscale(0%);
    }
}
#ifram{
    width: 100%;
    height: 90vh;
}
