.content-container {
    margin-top: -16px;
    height: auto;
    overflow: hidden;
}

.content-top {
    background-color: var(--bs-bg-light);
    margin-top: 2px;
    gap: 2px;
    margin-top: 100px;
    display: flex;
    width: 100vw;
}

.left-side {
    margin-bottom: 2px;
    margin-top: 2px;
    border-radius: 0 4px 4px 0;
    background-color: var(--bs-body-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: auto;
}

.right-side {
    margin-bottom: 2px;
    margin-top: 2px;
    border-radius: 4px 0 0 4px;
    background-color: var(--bs-body-bg);
    padding: 52px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
}

.image-container {
    position: relative;
    width: 80%;
    display: flex;
    justify-content: center;
}

.image-hover {
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    transition: opacity 1s, letter-spacing 1s;
    border-radius: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    font-weight: 700;
    color: white;
    letter-spacing: 0;
}

.image-hover:hover {
    letter-spacing: 2px;
    opacity: 0.6;
}

#pdfCanvas {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.image-item {
    border-radius: 20px;
    width: 100%;
}

.header {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.x-button {
    margin-top: -8px !important;
}

h4 {
    margin-left: 0;
    transition: margin-left 1s;
}

h4:hover {
    margin-left: 5px;
}

.hover-animate {
    width: 80%;
    font-weight: 700;
    font-size: 4.3vw;
    color: white;
    text-align: center;
}

.label-header {
    font-size: 20px;
    font-weight: 700;
}

.label-item {
    font-size: 18px;
}

.content-bottom {
    margin-top: 2px;
}

.table-background {
    background-color: var(--bs-body-bg);
    padding: 40px;
}

.left-th {
    width: 50px;
}

.table-header-color {
    background-color: var(--bs-bg-light) !important;
}

.right-th {
    width: 100px;
}

@media screen and (max-width: 924px) {
    .content-top {
        display: block;
        padding-bottom: 0.5px;
    }

    .main-detail {
        display: flex;
        gap: 40px;
    }

    .left-side {
        width: 100%;
        margin-bottom: 3px;
        padding-bottom: 20px;
    }

    .right-side {
        width: 100%;
    }

    .hover-animate {
        font-size: 6.3vw;
    }

    .header {
        text-align: center;
    }
}

@media screen and (max-width: 512px) {
    .main-detail {
        display: block;
    }
}
