#load-detail {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 40%;
    background-image: url('/image/Loading-logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    animation: loading 2s infinite ease-in-out, flipAndGrayScale 2s infinite;
}

#load {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 30%;
    background-image: url('/image/Loading-logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    animation: loading 2s infinite ease-in-out, flipAndGrayScale 2s infinite;
}

@media screen and (max-width: 900px) {
    #load {
        width: 75px;
        height: 75px;
        top: 30%;
    }
}

@keyframes loading {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }

    50% {
        transform: perspective(120px) rotateX(180deg) rotateY(0deg);
    }

    100% {
        transform: perspective(120px) rotateX(180deg) rotateY(-180deg);
    }
}

@keyframes flipAndGrayScale {
    0% {
        transform: scaleX(1) translateY(0);
        filter: grayscale(0%);
    }

    50% {
        transform: scaleX(-1) translateY(-5px);
        filter: grayscale(100%);
    }

    100% {
        transform: scaleX(1) translateY(0);
        filter: grayscale(0%);
    }
}

#ifram{
    margin-top: -15px;
    width: 100%;
    height: auto;
}


