/* Sweetalert */
*::-webkit-scrollbar {
    display: none;
}

.line-breaker {
    display: none;
    height: 2px;
    background-color: var(--bs-bg-light);
}

.flex-label {
    gap: 6px;
    display: flex;
}

.x-button {
    margin-top: -8px !important;
}

.swal2-success-circular-line-right {
    background-color: transparent !important;
}

.swal2-success-circular-line-left {
    background-color: transparent !important;
}

.swal2-success-fix {
    background-color: transparent !important;
}

/* Container Profile Start */
.container-profile {
    margin-top: 75px !important;
    height: auto;
    display: flex;
    overflow: hidden;
    background-color: var(--bs-bg-light);
}

.container-profile .kiri {
    width: 65%;
}

.container-profile .kiri .card {
    padding: 30px 60px 0px 78px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-style: none;
    background-color: var(--bs-body-bg);
    margin: 2px 0px;
    height: 100%;
}

.container-profile .kanan {
    width: 35%;
}

.container-profile .kanan .card-sertifikat-user {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin: 2px 0px 0px 2px;
    border-style: none;
    background-color: var(--bs-body-bg);
}

.container-profile .kanan .card-sertifikat-show {
    height: 100%;
    padding: 18px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin: 2px 0px 0px 2px;
    border-style: none;
    background-color: var(--bs-body-bg);
}

.container-profile .kanan .card-sertifikat-show .certificate {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(0, 1fr);
    margin: 0px;
    padding: 0px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.container-profile .kanan .card-sertifikat-show .certificate canvas {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.container-profile .kanan .card-sertifikat-show .certificate .dark {
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 1s, letter-spacing 1s;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
    letter-spacing: 0;
}
.container-profile .kanan .card-sertifikat-show .certificate .dark p {
    font-size: 25px;
    width: 80%;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-align: center;
}
.container-profile .kanan .card-sertifikat-show .certificate .dark:hover {
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.6;
    color: white;
    letter-spacing: 2px;
}

.input-height {
    height: 50px;
    background: transparent;
}

.card-sertifikat-user .card-body .text {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-sertifikat-user .card-body .text .text-atas {
    font-size: 20px;
    font-weight: 500;
    color: #878a99;
    text-transform: uppercase;
    margin-bottom: 0;
    font-family: "Poppins", sans-serif;
}
.card-sertifikat-user .card-body .text .angka {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
    font-family: "Poppins", sans-serif;
}
.card-sertifikat-user .card-body .text .text-bawah {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #878a99;
    margin-bottom: 0;
    font-family: "Poppins", sans-serif;
}

@media only screen and (max-width: 900px) {
    .container-profile {
        display: block;
    }

    .container-profile .kanan .card-sertifikat-show {
        margin: 0 !important;
    }

    .container-profile .kanan .card-sertifikat-user {
        margin: 0;
    }

    .container-profile .kiri {
        width: 100%;
        height: auto;
    }

    .container-profile .kanan {
        width: 100%;
    }

    .container-profile .kiri .card {
        padding: 18px;
    }

    .line-breaker {
        display: block;
    }
}

@media only screen and (max-width: 356px) {
    .bottom-button {
        display: block !important;
    }

    .lupa-password {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 315px) {
    .flex-label {
        display: block;
    }
}

/* Hide and show password */
.eye {
    cursor: pointer;
    border-radius: 15px;
    background-color: var(--bs-body-bg);
    display: flex;
    position: absolute;
    right: 70px;
    margin-top: -40px;
    width: 30px;
    height: 30px;
}

.icon {
    margin-top: 9.2px;
    margin-left: 6px;
}

.eye2 {
    cursor: pointer;
    border-radius: 15px;
    background-color: var(--bs-body-bg);
    display: flex;
    position: absolute;
    right: 70px;
    margin-top: -40px;
    width: 30px;
    height: 30px;
}

.icon2 {
    margin-top: 9.2px;
    margin-left: 6px;
}

.eye3 {
    cursor: pointer;
    border-radius: 15px;
    background-color: var(--bs-body-bg);
    display: flex;
    position: absolute;
    right: 70px;
    margin-top: -40px;
    width: 30px;
    height: 30px;
}

.icon3 {
    margin-top: 9.2px;
    margin-left: 6px;
}
