.pembungkus-profile {
    position: absolute;
    top: 75px;
    height: 92vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: var(--bs-bg-light);
}

.pembungkus-profile .bababoi {
    width: 100%;
}

.pembungkus-profile .bababoi .papope {
    padding: 2px 0px;
}

.pembungkus-profile .bababoi .card-profile {
    background-color: var(--bs-body-bg);
    border-style: none;
    padding: 30px 20px 10px 9.5%;
}

.pembungkus-profile .bababoi .profile-title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.pembungkus-profile .bababoi .form-detail label {
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.pembungkus-profile .bababoi .form-detail input {
    background: transparent;
}

.input-button {
    display: flex;
    width: 100%;
}

.input-button .button-edit {
    width: 10%;
    height: 10%;
}

.input-button .button-width {
    width: 90%;
}

.input-button .button-edit button {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 20px;
    top: 214px;
    border-radius: 5px;
}

.pembungkus-profile .card-sertifikat-user {
    height: 30%;
    background-color: var(--bs-body-bg);
    border-style: none;
    margin: 0px 2px;
}

.pembungkus-profile .card-sertifikat-show {
    height: 70%;
    background-color: var(--bs-body-bg);
    border-style: none;
}

.pembungkus-profile .card-sertifikat-show .certificate {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(0, 1fr);
    margin: 0px;
    padding: 0px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.pembungkus-profile .card-sertifikat-show .certificate canvas {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.pembungkus-profile .card-sertifikat-show .certificate .dark {
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: ease-in 0.2s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pembungkus-profile .card-sertifikat-show .certificate .dark p {
    font-size: 25px;
    width: 80%;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
}

.pembungkus-profile .card-sertifikat-show .certificate .dark:hover {
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.6;
    color: white;
}

.card-sertifikat-user .card-body img {
    width: 50px;
    height: auto;
}

.card-sertifikat-user .card-body .text {
    height: 100px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
}

.card-sertifikat-user .card-body .text .text-atas {
    font-size: 20px;
    font-weight: 500;
    color: #878a99;
    text-transform: uppercase;
    margin-bottom: 0;
    font-family: "Poppins", sans-serif;
}

.card-sertifikat-user .card-body .text .angka {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
    font-family: "Poppins", sans-serif;
}

.card-sertifikat-user .card-body .text .text-bawah {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #878a99;
    margin-bottom: 0;
    font-family: "Poppins", sans-serif;
}

.card .title-chart {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 20px;
    color: #495057;
}

.input-height {
    height: 50px;
}

.modal .modal-body .close-btn-custome {
    position: absolute;
    top: 40px;
    font-size: 20px;
    font-weight: 600;
    color: black !important;
}

@media only screen and (max-width: 900px) {
    .pembungkus-profile .card-sertifikat-user {
        height: 30%;
        border-radius: 0px;
        margin: 0px 0px;
    }

    .pembungkus-profile .bababoi .card-profile {
        border-radius: 0px;
        padding: 20px;
    }

    .pembungkus-profile .bababoi .papope {
        padding: 0px 0px;
    }

    .input-button .button-edit button {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 20px;
        top: 201px;
        border-radius: 5px;
    }

    .input-button .button-width {
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    .pembungkus-profile .card-sertifikat-user {
        height: 30%;
        border-radius: 0px;
        margin: 0px 0px;
    }

    .pembungkus-profile .bababoi .card-profile {
        border-radius: 0px;
        padding: 20px;
    }

    .pembungkus-profile .bababoi .papope {
        padding: 0px 0px;
    }

    .input-button .button-width {
        width: 80%;
    }

    .input-button .button-edit button {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 20px;
        top: 199px;
        border-radius: 5px;
    }

    .input-button .button-width {
        width: 90%;
    }
}

@media only screen and (max-width: 500px) {
    .input-button .button-width {
        width: 82%;
    }
}

@media only screen and (max-width: 361px) {
    .input-button .button-width {
        width: 79%;
    }

    .input-button .button-edit button {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 20px;
        top: 198px;
        border-radius: 5px;
    }
}
