/* FONT GLOBAL */

* {
    font-family: "Poppins", sans-serif;
}

/* Landing Page Certificate Carousel */
.gallery {
    display: flex;
    width: 100%;
}

.gallery-container {
    align-items: center;
    display: flex;
    height: 400px;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
}

.gallery-item {
    height: 250px;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 330px;
    z-index: 0;
    border-radius: 27px;
    background-size: contain;
}

.gallery-item-1 {
    box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
    height: 300px;
    opacity: 1;
    left: 30%;
    transform: translateX(-50%);
    width: 430px;
    z-index: 2;
}

.gallery-item-2 {
    left: 50%;
    transform: translateX(20%);
    opacity: 0.4;
}

.gallery-item-3 {
    left: 70%;
    transform: translateX(-120%);
    opacity: 0.4;
}

.gallery-controls {
    display: flex;
    position: absolute;
    margin: 25px 0;
    justify-content: space-between;
    height: 100px;
    color: #eeeeee;
    width: 100%;
    top: 32%;
}

.gallery-controls button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    width: 50px;
    color: transparent;
    font-size: 30px;
    margin: 0 50px;
    padding: 0 12px;
    text-transform: capitalize;
}

.gallery-controls-button:focus {
    outline: none;
}

.gallery-controls-p {
    position: relative;
}

.gallery-controls-p::before {
    border: solid #eeeeee;
    border-radius: 5px;
    border-width: 0 5px 5px 0;
    content: "";
    display: inline-block;
    height: 5px;
    left: -10px;
    top: 30px;
    padding: 10px;
    position: absolute;
    transform: rotate(135deg) translateY(-50%);
    transition: left 0.15s ease-in-out;
    width: 5px;
}

.gallery-controls-p:hover::before {
    left: -20px;
}

.gallery-controls-n {
    position: relative;
}

.gallery-controls-n::before {
    border: solid #eeeeee;
    border-radius: 5px;
    border-width: 0 5px 5px 0;
    content: "";
    display: inline-block;
    height: 5px;
    right: -10px;
    top: 45px;
    padding: 10px;
    position: absolute;
    transform: rotate(-45deg) translateY(-50%);
    transition: right 0.15s ease-in-out;
    width: 5px;
}

.gallery-controls-n:hover::before {
    right: -20px;
}

.gallery-nav {
    bottom: -15px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100%;
}

.gallery nav li {
    background: #ccc;
    border-radius: 50%;
    height: 10px;
    margin: 0 16px;
    width: 10px;
}

.gallery-nav li.gallery-item-selected {
    background: #555;
}

/* Carousel Lulus */

.container-lulus .tag-list .card-lulus {
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Background */
    background: rgb(0, 94, 147);
    background: linear-gradient(245deg, rgba(0, 94, 147, 5) 25%, rgb(0 136 168) 100%);
    border: none;
    border-radius: 30px 5px 50px 5px;

    /* Font */
    font-family: "Poppins", sans-serif;
}

[data-bs-theme="dark"] .container-lulus .tag-list .card-lulus {
    background: rgb(0, 94, 147);
    background: linear-gradient(245deg, rgba(0, 94, 147, 5) 25%, rgba(0, 94, 147, 0.3) 100%);

}

.container-lulus .tag-list .card-lulus p {
    margin-bottom: 0;
}

.container-lulus .tag-list .card-lulus .nama {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    color: white;
    line-height: 20px;
    max-width: 150px;
}

.container-lulus .tag-list .card-lulus .sekolah {
    font-size: 10px;
    font-weight: 300;
    color: white;
    margin-top: 5px;
    padding: 0px 10px;
    max-width: 150px;

    /* Background */
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.9px);
    -webkit-backdrop-filter: blur(1.9px);
    border: 1px solid rgba(255, 255, 255, 0.06);
}

.container-lulus .scroller {
    max-width: 100%;
    overflow: hidden;
}

.container-lulus .scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg,
            transparent,
            white 20%,
            white 80%,
            transparent);
    mask: linear-gradient(90deg,
            transparent,
            white 20%,
            white 80%,
            transparent);
}

.container-lulus .scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll 70s linear infinite;
}

.container-lulus .scroller__inner {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    padding-block: 1rem;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}

@media only screen and (max-width: 768px) {
    .gallery-container {
        align-items: center;
        display: flex;
        height: 400px;
        margin: 0 auto;
        max-width: 1000px;
        position: relative;
        background-color: antiquewhite;
    }

    .gallery-item {
        height: 200px;
        background-color: aqua;
        opacity: 0;
        position: absolute;
        transition: all 0.3s ease-in-out;
        width: 260px;
        z-index: 0;
        border-radius: 27px;
        background-size: contain;
    }

    .gallery-item-1 {
        box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
        height: 240px;
        opacity: 1;
        left: 30%;
        transform: translateX(-50%);
        width: 330px;
        z-index: 2;
    }

    .gallery-item-2 {
        left: 50%;
        transform: translateX(20%);
        opacity: 0.4;
    }

    .gallery-item-3 {
        left: 70%;
        transform: translateX(-120%);
        opacity: 0.4;
    }

    .gallery-controls {
        display: flex;
        position: absolute;
        margin: 25px 0;
        justify-content: space-between;
        height: 100px;
        color: #eeeeee;
        width: 100%;
        top: 32%;
        left: 0;
    }

    .gallery-controls button {
        background-color: transparent;
        border: 0;
        cursor: pointer;
        width: 50px;
        color: transparent;
        font-size: 30px;
        margin: 0 50px;
        padding: 0 12px;
        text-transform: capitalize;
    }

    .gallery-controls-button:focus {
        outline: none;
    }

    .gallery-controls-p {
        position: relative;
    }

    .gallery-controls-p::before {
        border: solid #eeeeee;
        border-radius: 5px;
        border-width: 0 5px 5px 0;
        content: "";
        display: inline-block;
        height: 5px;
        left: -10px;
        top: 30px;
        padding: 10px;
        position: absolute;
        transform: rotate(135deg) translateY(-50%);
        transition: left 0.15s ease-in-out;
        width: 5px;
    }

    .gallery-controls-p:hover::before {
        left: -20px;
    }

    .gallery-controls-n {
        position: relative;
    }

    .gallery-controls-n::before {
        border: solid #eeeeee;
        border-radius: 5px;
        border-width: 0 5px 5px 0;
        content: "";
        display: inline-block;
        height: 5px;
        right: -10px;
        top: 45px;
        padding: 10px;
        position: absolute;
        transform: rotate(-45deg) translateY(-50%);
        transition: right 0.15s ease-in-out;
        width: 5px;
    }

    .gallery-controls-n:hover::before {
        right: -20px;
    }

    .gallery-nav {
        bottom: -15px;
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
        position: absolute;
        width: 100%;
    }

    .gallery nav li {
        background: #ccc;
        border-radius: 50%;
        height: 10px;
        margin: 0 16px;
        width: 10px;
    }

    .gallery-nav li.gallery-item-selected {
        background: #555;
    }
}

@media only screen and (max-width: 600px) {

    /* Certificate Show */
    .gallery {
        display: flex;
        width: 100%;
    }

    .gallery-container {
        align-items: center;
        display: flex;
        height: 300px;
        margin: 0 auto;
        max-width: 100%;
        position: relative;
    }

    .gallery-item {
        height: 100px;
        opacity: 0;
        position: absolute;
        transition: all 0.3s ease-in-out;
        width: 150px;
        z-index: 0;
        border-radius: 27px;
        background-size: contain;
    }

    .gallery-item-1 {
        box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
        height: 150px;
        opacity: 1;
        left: 30%;
        transform: translateX(-50%);
        width: 200px;
        z-index: 2;
    }

    .gallery-item-2 {
        left: 50%;
        transform: translateX(10%);
        opacity: 0.4;
    }

    .gallery-item-3 {
        left: 70%;
        transform: translateX(-110%);
        opacity: 0.4;
    }

    .gallery-controls {
        display: flex;
        justify-content: center;
        position: absolute;
        margin: 25px 0;
        justify-content: space-between;
        height: 100px;
        color: #eeeeee;
        width: 100%;
        top: 26%;
        left: 0;
    }

    .gallery-controls button {
        background-color: transparent;
        border: 0;
        cursor: pointer;
        color: transparent;
        font-size: 30px;
        margin: 0 50px;
        padding: 0 12px;
        text-transform: capitalize;
    }

    .gallery-controls-button:focus {
        outline: none;
    }

    .gallery-controls-p {
        position: relative;
    }

    .gallery-controls-p::before {
        border: solid #eeeeee;
        border-radius: 5px;
        border-width: 0 5px 5px 0;
        content: "";
        display: inline-block;
        height: 5px;
        left: -10px;
        top: 30px;
        padding: 10px;
        position: absolute;
        transform: rotate(135deg) translateY(-50%);
        transition: left 0.15s ease-in-out;
        width: 5px;
    }

    .gallery-controls-p:hover::before {
        left: -20px;
    }

    .gallery-controls-n {
        position: relative;
    }

    .gallery-controls-n::before {
        border: solid #eeeeee;
        border-radius: 5px;
        border-width: 0 5px 5px 0;
        content: "";
        display: inline-block;
        height: 5px;
        right: -10px;
        top: 45px;
        padding: 10px;
        position: absolute;
        transform: rotate(-45deg) translateY(-50%);
        transition: right 0.15s ease-in-out;
        width: 5px;
    }

    .gallery-controls-n:hover::before {
        right: -20px;
    }

    .gallery-nav {
        bottom: -15px;
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
        position: absolute;
        width: 100%;
    }

    .gallery nav li {
        background: #ccc;
        border-radius: 50%;
        height: 10px;
        margin: 0 16px;
        width: 10px;
    }

    .gallery-nav li.gallery-item-selected {
        background: #555;
    }

    /* Auto Scrolling */

    .container-lulus .tag-list .card-lulus {
        width: 130px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* Background */
        background: rgb(0, 94, 147);
        background: linear-gradient(245deg, rgba(0, 94, 147, 5) 25%, rgb(0 136 168) 100%);
        border: none;
        border-radius: 30px 5px 35px 5px;

        /* Font */
        font-family: "Poppins", sans-serif;
    }

    .container-lulus .tag-list .card-lulus p {
        margin-bottom: 0;
    }

    .container-lulus .tag-list .card-lulus .nama {
        font-size: 10px;
        font-weight: 500;
        letter-spacing: 1px;
        color: white;
        line-height: 20px;
        max-width: 90px;
    }

    .container-lulus .tag-list .card-lulus .sekolah {
        font-size: 6px;
        font-weight: 300;
        color: white;
        margin-top: 5px;
        padding: 0px 10px;
        max-width: 90px;

        /* Background */
        background: rgba(255, 255, 255, 0.19);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(1.9px);
        -webkit-backdrop-filter: blur(1.9px);
        border: 1px solid rgba(255, 255, 255, 0.06);
    }

    .container-lulus .scroller {
        max-width: 100%;
        overflow: hidden;
    }

    .container-lulus .scroller[data-animated="true"] {
        overflow: hidden;
        -webkit-mask: linear-gradient(90deg,
                transparent,
                white 20%,
                white 80%,
                transparent);
        mask: linear-gradient(90deg,
                transparent,
                white 20%,
                white 80%,
                transparent);
    }

    .container-lulus .scroller[data-animated="true"] .scroller__inner {
        width: max-content;
        flex-wrap: nowrap;
        animation: scroll 55s linear infinite;
    }

    .container-lulus .scroller__inner {
        list-style: none;
        display: flex;
        gap: 1rem;
        padding: 0;
        padding-block: 1rem;
    }

    @keyframes scroll {
        to {
            transform: translate(calc(-50% - 0.5rem));
        }
    }
}

@media only screen and (max-width: 340px) {

    /* Certificate Show */
    .gallery {
        display: flex;
        width: 100%;
    }

    .gallery-container {
        align-items: center;
        display: flex;
        height: 300px;
        margin: 0 auto;
        max-width: 100%;
        position: relative;
    }

    .gallery-item {
        height: 80px;
        width: 120px;
        opacity: 0;
        position: absolute;
        transition: all 0.3s ease-in-out;
        z-index: 0;
        border-radius: 20px;
        background-size: contain;
    }

    .gallery-item-1 {
        box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
        width: 160px;
        height: 120px;
        opacity: 1;
        left: 30%;
        transform: translateX(-50%);
        z-index: 2;
    }

    .gallery-item-2 {
        left: 50%;
        transform: translateX(10%);
        opacity: 0.4;
    }

    .gallery-item-3 {
        left: 70%;
        transform: translateX(-110%);
        opacity: 0.4;
    }

    .gallery-controls {
        display: flex;
        justify-content: center;
        position: absolute;
        margin: 25px 0;
        justify-content: space-between;
        height: 100px;
        color: #eeeeee;
        width: 100%;
        top: 26%;
        left: 0;
    }

    .gallery-controls button {
        background-color: transparent;
        border: 0;
        cursor: pointer;
        color: transparent;
        font-size: 30px;
        margin: 0 50px;
        padding: 0 12px;
        text-transform: capitalize;
    }

    .gallery-controls-button:focus {
        outline: none;
    }

    .gallery-controls-p {
        position: relative;
    }

    .gallery-controls-p::before {
        border: solid #eeeeee;
        border-radius: 5px;
        border-width: 0 5px 5px 0;
        content: "";
        display: inline-block;
        height: 5px;
        left: -10px;
        top: 30px;
        padding: 10px;
        position: absolute;
        transform: rotate(135deg) translateY(-50%);
        transition: left 0.15s ease-in-out;
        width: 5px;
    }

    .gallery-controls-p:hover::before {
        left: -20px;
    }

    .gallery-controls-n {
        position: relative;
    }

    .gallery-controls-n::before {
        border: solid #eeeeee;
        border-radius: 5px;
        border-width: 0 5px 5px 0;
        content: "";
        display: inline-block;
        height: 5px;
        right: -10px;
        top: 45px;
        padding: 10px;
        position: absolute;
        transform: rotate(-45deg) translateY(-50%);
        transition: right 0.15s ease-in-out;
        width: 5px;
    }

    .gallery-controls-n:hover::before {
        right: -20px;
    }

    .gallery-nav {
        bottom: -15px;
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
        position: absolute;
        width: 100%;
    }

    .gallery nav li {
        background: #ccc;
        border-radius: 50%;
        height: 10px;
        margin: 0 16px;
        width: 10px;
    }

    .gallery-nav li.gallery-item-selected {
        background: #555;

    }
}
