.pagination-outer {
    text-align: center;
}
.pagination {
    font-family: "Raleway", sans-serif;
    display: inline-flex;
    position: relative;
}
.pagination li a.page-link {
    color: #1689D3;
    background: #eee;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    line-height: 33px;
    height: 35px;
    width: 35px;
    padding: 0;
    margin: 0 7px;
    border: none;
    border-radius: 0;
    display: block;
    position: relative;
    z-index: 0;
    transition: all 0.1s ease 0s;
}
.pagination li:first-child a.page-link,
.pagination li:last-child a.page-link {
    font-size: 23px;
    line-height: 30px;
}
.pagination li a.page-link:hover,
.pagination li a.page-link:focus,
.pagination li.active a.page-link:hover,
.pagination li.active a.page-link {
    color: #fff;
    background: transparent;
}
.pagination li a.page-link:before,
.pagination li a.page-link:after {
    content: "";
    background-color: #1689D3;
    height: 60%;
    width: 100%;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: all 0.3s ease 0s;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.pagination li a.page-link:after {
    top: auto;
    bottom: 0;
}
.pagination li a.page-link:hover:before,
.pagination li a.page-link:focus:before,
.pagination li.active a.page-link:hover:before,
.pagination li.active a.page-link:before {
    opacity: 1;
    top: 3px;
}
.pagination li a.page-link:hover:after,
.pagination li a.page-link:focus:after,
.pagination li.active a.page-link:hover:after,
.pagination li.active a.page-link:after {
    opacity: 1;
    bottom: 3px;
}
@media only screen and (max-width: 480px) {
    .pagination {
        font-size: 0;
        display: inline-block;
    }
    .pagination li {
        display: inline-block;
        vertical-align: top;
        margin: 0 0 15px;
    }
}
